.animations{
  display: flex;
  justify-content: center;
}

.entrance{
  position: relative;
  width: 800px;
  height: 800px;
}

.home{
  width: 15%;
  height: 15%;
  display: block;
  position: fixed;
  background: url(assets/img/pillar1.svg) no-repeat;
  top: -15%;
  left: 27%;
}