@charset "UTF-8";
@import "assets/styles/modules/_base.scss";

.opening{
  background: $brown;
}

/******************************************************************************
  額縁
*******************************************************************************/
.frame_wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}
.frame{
  position: absolute;

  &:before{
    content: "";
    padding-top: 100%;
    display: block;
  }
}
// ベース背景以外を中央寄せ
.frame:not(:nth-child(1)){
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.frame.bg1{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $brown;
}
.frame.bg2{
  width: 97vw;
  height: 85vh;
  background-color: #C8B273;

  @include media(tb){ width: 84vw; height: 87vh; }
  @include media(pcs){ width: 83vw; height: 93vh; }
  @include media(pcm){ width: 65vw; height: 96vh; }
  @include media(pc){ width: 57vw; height: 92vh; max-width: 57vw; }
}
.frame.bg3{
  width: 91vw;
  height: 81vh;
  background-color: #8F5F50;

  @include media(tb){ width: 80vw; height: 83vh; }
  @include media(pcs){ width: 79vw; height: 88vh; }
  @include media(pcm){ width: 61vw; height: 90vh; }
  @include media(pc){ width: 53vw; height: 85vh; max-width: 53vw; }
}
.frame.bg4{
  width: 87vw;
  height: 78vh;
  background-color: #532D3B;

  @include media(tb){ width: 78vw; height: 81vh; }
  @include media(pcs){ width: 76vw; height: 85vh; }
  @include media(pcm){ width: 60vw; height: 89vh; }
  @include media(pc){ width: 52vw; height: 83vh; max-width: 52vw; }
}
.frame.bg5{
  width: 78vw;
  height: 72vh;
  background-color: #834655;

  @include media(tb){ width: 73vw; height: 76vh; }
  @include media(pcs){ width: 72vw; height: 80vh; }
  @include media(pcm){ width: 56vw; height: 83vh; }
  @include media(pc){ width: 49vw; height: 78vh; max-width: 49vw; }
}
.frame.bg6{
  width: 74vw;
  height: 70vh;
  background-color: #CEB899;

  @include media(tb){ width: 70vw; height: 73vh; }
  @include media(pcs){ width: 70vw; height: 78vh; }
  @include media(pcm){ width: 54vw; height: 80vh; }
  @include media(pc){ width: 47vw; height: 75vh; max-width: 47vw; }
}
/**
 * 額縁のコーナー
 */
.corner_wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .corner{
    position: absolute;
    width: 32%;
    height: 14%;
    top: 0;
    left: 0;
    background: url(assets/images/corner.svg) no-repeat;
    background-size: 98%;

    @include media(tb){ width: 27%; height: 19%; background-size: 100%; }
    @include media(pcs){ width: 27%; height: 22%; }
    @include media(pcm){ width: 19%; height: 19%; }
    @include media(pc){ width: 21vw; height: 12vw; max-width: 21vw; }

    &:before{
      content: "";
      display: block;
      padding-top: 57.0135%;
    }
    // 各コーナー
    &:nth-child(1){
      top: 5%;
      left: -6%;
      transform: rotate(-45deg);

      @include media(tb){ top: 2%; left: -1%; }
      @include media(pcs){ top: 0; left: 0; }
      @include media(pcm){ top: -2%; left: 12%; }
      @include media(pc){ top: -1%; left: 15%; }
    }
    &:nth-child(2){
      top: 5%;
      left: 75%;
      transform: rotate(45deg);

      @include media(tb){ top: 2%; left: 74%; }
      @include media(pcs){ top: 0; left: 73%; }
      @include media(pcm){ top: -2%; left: 69%; }
      @include media(pc){ top: -1%; left: 64%; }
    }
    &:nth-child(3){
      top: 81%;
      left: 75%;
      transform: rotate(135deg);

      @include media(tb){ top: 80%; left: 74%; }
      @include media(pcs){ top: 80%; left: 73%; }
      @include media(pcm){ top: 83%; left: 69%; }
      @include media(pc){ top: 72%; left: 64%; }
    }
    &:nth-child(4){
      top: 81%;
      left: -5%;
      transform: rotate(-135deg);

      @include media(tb){ top: 80%; left: -1%; }
      @include media(pcs){ top: 80%; left: 0; }
      @include media(pcm){ top: 83%; left: 12%; }
      @include media(pc){ top: 72%; left: 15%; }
    }
  }
}
/**
 * MY HOME
 */
.frame.home{
  background: url('assets/images/home.svg') no-repeat;
  background-position: center;
  background-size: (66%);

  @include media(pcm){ background-size: 50%; }
  @include media(pc){ background-size: 40%; max-width: 79vw;}

  // おうちの画像がだんだんはっきりしてくる
  &.active{
    @include animationValue(home, 22, ease-in, 0, 1, forwards);
    @include keyframes(home){
      0%{ filter: blur(5px) sepia(.6) opacity(.7); }
      100%{ filter: blur(0) sepia(0) opacity(1); }
    }
  }
}

/******************************************************************************
  メッセージアニメーション
*******************************************************************************/
.msg_wrapper{
  position: absolute;
  width: 100%;
  max-width: 1280px;
  height: 100%;
  color: $white;
  margin: auto;
  overflow: hidden;
}
/**
 * ？
 */
.keyword{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  mix-blend-mode: color-burn;

  #question{
    font-family: $q-font;
    font-size: 5rem;
    color: $red;
    text-align: center;
    display: block;
    line-height: 1;
    filter: drop-shadow(1px 1px 0px black);
    /**
    * ？現れる
    */
    @include animationValue(opacity, 1, ease, 0, 1, forwards);
    @include keyframes(opacity){
      0%{ opacity: 0;}
      100%{opacity: 1;}
    }
  }
}

/**
 * テーマ
 */
.msg{
  position: relative;
  width: 100%;
  height: 100%;
  color: $white;
  mix-blend-mode: normal;

  &_lede1{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: $h-font;
    font-size: 11vw;
    letter-spacing: .03em;
    filter: drop-shadow(2px 2px 1px $red) drop-shadow(-3px -2px 1px $red) drop-shadow(2px -1px 1px $red);
    margin: 0 auto;
    opacity: 0;

    @include media(tb){ font-size: 8vw;}
  }
}
/**
 * How Come? Home Humanが現れて消える
 */
@for $cnt from 1 through 4{
  .msg_lede1.active:nth-child(#{$cnt}){
    animation: blurFadeInOut 4s ease-in backwards;
  }
}
.msg_lede1{
  &.active:nth-child(1){ animation-delay: 5s; }
  &.active:nth-child(2){ animation-delay: 9s; }
  &.active:nth-child(3){ animation-delay: 13s; }
  &.active:nth-child(4){ animation-delay: 17s; }
}
@include keyframes(blurFadeInOut){
  0%{
    opacity: 0;
    text-shadow: 0px 0px 40px $red;
    transform: scale(1.3);
  }
  20%, 75%{
    opacity: 1;
    text-shadow: 0px 0px 1px $red;
    transform: scale(1);
  }
  100%{
    opacity: 0;
    text-shadow: 0px 0px 50px $red;
    transform: scale(0);
  }
}
/**
 * Press Button Play in My World!
 */
.msg_lede2{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0 auto;
  mix-blend-mode: luminosity;

  @include media(pc){ left: 0; transform: translateY(-50%); }
  // 上と下の文字指定
  span{
    display: block;
    width: 100%;
    font-family: $h-font;
    font-size: 15vw;
    color: transparent;
    line-height: 1em;
    letter-spacing: .03em;
    text-shadow: 0px 0px 1px $white;
    filter: drop-shadow(2px 2px 1px $red) drop-shadow(-3px -2px 1px $red) drop-shadow(2px -1px 1px $red);
    margin-bottom: 2.9em;
    
    @include media(tb){ font-size: 7.5vw; margin-bottom: 4.5em; }
    @include media(pcm){ font-size: 7vw; margin-bottom: 4.9em; }
    @include media(pc){ font-size: 6vw; margin-bottom: 5.3em; }
    // Play in My World!
    &:nth-child(2){
      margin-bottom: 0;
    }
  }
  span.active{
    // Press ButtonのあとにPlay in My World!が現れる
    @include animationValue(blurFadeIn, 3, ease-in, 20, 1, backwards);
    @include keyframes(blurFadeIn){
      0%{ opacity: 0; text-shadow: 0px 0px 40px $white; transform: scale(1.3); }
      50%{ opacity: 0.5; text-shadow: 0px 0px 10px $white; transform: scale(1.1); }
      100%{ opacity: 1; text-shadow: 0px 0px 1px $white; transform: scale(1); }
    }
    &:nth-child(2){
      -webkit-animation-delay: 22s;
	    animation-delay: 22s;
    }
  }
}
/**
 * Play Button
 */
.msg_btn{
	position: absolute;
  left: 50%;
  margin-left: -22vw;
	bottom: 37%;
	text-align: center;
	width: 44vw;
	height: 44vw;
  color: $white;
  z-index: 2;
  transform: scale(1) rotate(0deg);

  &:hover{
    transform: scale(.9);
    transition: .5s;
  }

  @include media(tb){ margin-left: -14vw; bottom: 38%; width: 28vw; height: 28vw; }
  @include media(pc){ margin-left: -10vw; width: 20vw; height: 20vw; }

  // 再生ボタンがくるくる降ってくる
  &.active{
    @include animationValue(fadeInRotate, 1, linear, 26, 1, backwards);
    @include keyframes(fadeInRotate){
      0% { opacity: 0; transform: scale(0) rotate(360deg); }
      100% { opacity: 1; transform: scale(1) rotate(0deg); }
    }
  }
}

/**
 * Skip Button
 */
.skip{
  position: absolute;
  top: 91%;
  left: 77%;
  transform: translate(-50%, -50%);
  width: 21%;
  z-index: 2;

  @include media(tb){ top: 85%; left: 79%; width: 12%; }
  @include media(pcm){ top: 87%; left: 90%; }
}

/******************************************************************************
  下からわく？たち
*******************************************************************************/
.in_my_head{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  span{
    font-family: $h-font;
    color: #8F5F50;
    display: block;
    text-shadow: 0 0 1px $white;
    position: absolute;
    user-select: none;
    pointer-events: none;
    cursor: default;
    z-index: 1;
    opacity: 0;
    will-change: transform, opacity;
    -webkit-animation-name: floating;
    animation-name: floating;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@include keyframes(floating){
  0%{ opacity: 0; transform: translateY(100vh); }
  25%{ opacity: 0.2; }
  50%{ opacity: 0.1; }
  75%{ opacity: 0; }
  100%{ opacity: 0; transform: none; }
}

/******************************************************************************
  おうちパズル（仮）
*******************************************************************************/
.home{
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  color: $white;
  background: $sunset;
}
.canvas{
  display: block;
  width: 100%;
  height: 100%;

  canvas#set_layout{
    width: 100%;
    height: 100%;
  }
}