@charset "UTF-8";
@import "../mixin/_layout.scss";
@import "../mixin/_animation.scss";

//額縁
.frame_wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.frame{
  position: absolute;

  &:before{
    content: "";
    padding-top: 100%;
    display: block;
  }
}
.frame:not(:nth-child(1)){
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.frame.bg1{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5B5149;
}
.frame.bg2{
  width: 92vw;
  height: 91vh;
  background-color: #C8B273;
}
.frame.bg3{
  width: 82vw;
  height: 82vh;
  background-color: #8F5F50;
}
.frame.bg4{
  width: 79vw;
  height: 80vh;
  background-color: #532D3B;
}
.frame.bg5{
  width: 73vw;
  height: 75vh;
  background-color: #834655;
}
.frame.bg6{
  width: 67vw;
  height: 70vh;
  background-color: #CEB899;
}
.frame.home{
  background: url('assets/images/home.svg') no-repeat;
  background-position: center;
  background-size: (62%);
  filter: opacity(.3);

  @include media(pc){
    border-width: 100px;
    background-size: (80% 80%);
  }
}

// アニメーション
.ttl_wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  color: $white;
  margin: auto;
  overflow: hidden;
  z-index: 0;
  mix-blend-mode: color-burn;

  // :beforeにぼかし効果を設定する
  &:before{
    content: '';
    background: inherit;
    position: absolute;
    filter: blur(7px) sepia(.5);

    //ブラー効果で画像の端がボヤけた分だけ位置を調整
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
  }
}
// ？
.ttl_q{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  mix-blend-mode: color-burn;

  #question{
    font-family: $q-font;
    font-size: 5rem;
    color: $red;
    text-align: center;
    display: block;
    line-height: 1;
    filter: drop-shadow(1px 1px 0px black);

  }
}

.ttl_h{
  position: relative;
  width: 100%;
  height: 100%;
  color: $red;

  &_theme{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: $h-font;
    font-size: 11vw;
    line-height: 1em;
    letter-spacing: .03em;
    filter: drop-shadow(0px 2px 2px black);
    margin: 0 auto;
    opacity: 0;

    &:nth-child(4){
      font-size: 17vw;
      top: 45%;
      letter-spacing: .09em;

      @include media(pc){
        top: 38%;
      }
    }
  
    @include media(pc){
      font-size: 10vw;
    }
  }
}
// How Come? Home Human I Like It!
@for $cnt from 1 through 4{
  .ttl_h .ttl_h_theme:nth-child(#{$cnt}){
    @include animationValue(blurFadeInOut, 3, ease-in, $cnt * 3, 1, backwards);
  }
}
@include keyframes(blurFadeInOut){
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px $red;
    transform: scale(1.3);
  }
  20%, 75% {
    opacity: 1;
    text-shadow: 0px 0px 1px $red;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    text-shadow: 0px 0px 50px $red;
    transform: scale(0);
  }
}
// Wanna Create, To Get To Like
.ttl_h .ttl_h_purpose{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0 auto;
  
  span{
    display: block;
    width: 100%;
    font-family: $h-font;
    font-size: 15vw;
    color: transparent;
    line-height: 1em;
    letter-spacing: .03em;
    text-shadow: 0px 0px 1px $red;
    filter: drop-shadow(0px 2px 2px black);
    mix-blend-mode: hard-light;
    margin-bottom: .5em;

    @include media(pc){
      font-size: 9vw;
    }

    -webkit-animation: blurFadeIn 3s ease-in 15s backwards;
    animation: blurFadeIn 3s ease-in 15s backwards;
    
    &:nth-child(2){
      margin-bottom: 0;
      -webkit-animation-delay: 17s;
	    animation-delay: 17s;
    }
  }
  @include keyframes(blurFadeIn){
    0% {
      opacity: 0;
      text-shadow: 0px 0px 40px $white;
      -webkit-transform: scale(1.3);
    }
    50% {
      opacity: 0.5;
      text-shadow: 0px 0px 10px $white;
      -webkit-transform: scale(1.1);
    }
    100% {
      opacity: 1;
      text-shadow: 0px 0px 1px $white;
      -webkit-transform: scale(1);
    }
  }
}

// 下からわく？
.in_my_head{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  span{
    font-family: $h-font;
    color: $red;
    display: block;
    text-shadow: 0 0 1px $white;
    position: absolute;
    user-select: none;
    pointer-events: none;
    cursor: default;
    z-index: 1;
    opacity: 0;
    will-change: transform, opacity;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-name: floating;
    animation-name: floating;
  }
}
@include keyframes(floating){
  0% {
    opacity: 0;
    transform: translateY(100vh);
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: none;
  }
}

.intro{
  &_desc{
    font-family: 'Helvetica';
    white-space: pre;
  } 
}
@for $cnt from 1 through 379{
  .intro_desc span:nth-child(#{$cnt}){
    span{
      -webkit-animation: letter-glow 3s ease;
      animation: letter-glow 3s ease;
    }
    @include animationValue(letter-glow, 0.7, ease, $cnt * 0.05 , 1, both);
  }
}
@include keyframes(letter-glow){
  0%{
    opacity: 0;
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
  }
  66%{
    opacity: 1;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);
  }
  77%{
    opacity: 1;
  }
  100%{
    opacity: 0.7;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0);
  }
}

.home{
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  color: $white;
  background: $sunset;
}
.canvas{
  display: block;
  width: 100%;
  height: 100%;

  canvas#set_layout{
    width: 100%;
    height: 100%;
  }
}