@charset "UTF-8";

$red: #532D3B;
$brown: #5B5149;
$white: #F0EEE9;
$pink: #f7cac9;
$blue: #92A8D1;
$antique: #86A1A9; //背景
$gold: #DEC05F;
$darkblue: #403F6F;
$sunset: linear-gradient(to bottom, rgba(249, 156, 194, 0.922) 44%, #f7cac9 76%, #92A8D1);