@charset "UTF-8";

$white: #F0EEE9;
$darkwhite: #CEB899; //背景
$red: #532D3B;
$lightred: #97354F;
$darkblue: #403F6F;
$antique: #86A1A9;
$brown: #5B5149;
$gold: #DEC05F;
$pink: #f7cac9;
$blue: #92A8D1;
$sunset: linear-gradient(to bottom, rgba(249, 156, 194, 0.922) 44%, $pink 76%, $blue);