@charset "UTF-8";

// ブレイクポイントを設定
$bp-sp: 767px;
$bp-pc: 768px;

// メディアクエリ用のミックスイン
@mixin media($media-width) {
	@if $media-width == sp {
		@media only screen and (max-width: $bp-sp) {
			@content;
		}
	}
	@else if $media-width == pc {
		@media only screen and (min-width: $bp-pc) {
			@content;
		}
	}
}

// PC最小サイズ
$pc-min: 1000px;

// SP最小サイズ
$sp-min: 320px;

// フォントサイズ
$base-size: 1rem;
$ttl: 1.75rem;
$ttl2: 0.875rem;
$txt: 0.812rem;

$base-height: 1.7em;