@charset "UTF-8";
@import "../mixin/_layout.scss";

.ly_wrapper.bl_about{
  @include media(pc){
    width: 30%;
  }
  .ly_wrapper_conts{
    @include media(pc){
      margin-bottom: 2em;

      dt{
        width: 30%;
      }
      dd{
        width: 50%;
      }
    }
  }
  a{
    color: $main-color;
  }
}