@charset "UTF-8";
@import "assets/styles/modules/_base.scss";

.bl_about{
  width: 97%;
  max-width: 328px;

  @include media(pc){ width: 100%; max-width: 338px; }

  &_conts{
    font-family: $base-font;
    font-size: $base-size;
    color: $brown;
    @include boxSet;
    flex-flow: nowrap;
    padding: .5em 0;
    margin: 0;

    @include media(pc){ font-size: 1.3rem; }
  }

  &_data{
    font-weight: bold;
    color: $red;
    width: 71%;
    @include media(pc){
      width: 64%;
    }
  }

  &_link{
    color: $darkblue;
  
    &:hover{
      color: $gold;
      transition: 1s;
    }
  }
}