@charset "UTF-8";
@import "assets/styles/mixin/_layout.scss";

// ******************************************************************************
// Reset
// ******************************************************************************
*, *:before, *:after{
  box-sizing: border-box;
}
html{
  width: 100%;
  height: 100%;
}
body{
  @include media(sp){
    width: 100%;
    height: 100%;
    min-width: $sp-min;
  }
  font-family: $base-font;
  color: $brown;
  background: $antique;
  line-height: $line-height;
}
img{
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}
a{
  display: block;
  text-decoration: none;
}
h1, h2, h3{
  font-weight: normal;
  margin: 0;
}
p{
  margin: 0;
}
li{
  display: inherit;
}
dl{
  margin: 0;
}
dd{
  margin: 0;
}
button{
  background-color: transparent;
  border: none;
  line-height: 0;
  padding: 0;
  cursor: pointer;

  &:focus{
    outline: none;
  }
}

// ******************************************************************************
// 共通パーツ
// ******************************************************************************
header, main{
  max-width: 1280px;
}
main{
  margin: 0 auto 7em;
}
// section
.ly_wrapper{
  margin: 0 auto 3em;

  @include media(pc){ margin-bottom: 5em; }
  &:last-child{
    margin-bottom: 0;
  }
  &_ttl{ // About, Experiences, Works
    width: 100%;
    color: $red;
    font-family: $q-font;
    font-size: $ttl;
    text-align: center;
    margin: 0 auto 1em;
    text-shadow: 0px 1px 4px $pink;

    @include media(pc){ font-size: 3rem; }
  }
  &_ttl2{
    font-size: 1rem;
    font-weight: bold;
    line-height: 1em;

    @include media(pc){ font-size: 1.3rem; }
  }
  &_conts{
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    &_ttl{
      order: 2;
      width: 100%;
      color: $red;
      font-size: $ttl;
      margin: 0 0 .8em;
    }
    &_ttl2{
      order: 3;
    }
    &_term{
      order: 1;
      font-size: $txt;
    }
    &_desc{
      order: 4;
    }
  }
}
// コンテンツボックス
.bl_conts{
  margin-bottom: 3em;
	&_ttl{
		color: $gold;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1em;
    filter: drop-shadow(1px 1px 1px $brown);
	}
	&_ttl2{
    font-size: 1.3rem;
    font-weight: bold;
	}
	&_desc{
    color: $red;
	}
	&_note{
    color: $brown;
  }
}