@charset "UTF-8";
@import "../config/_size.scss";
@import "../mixin/_layout.scss";

*, *:before, *:after{
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
}

h1, h2, h3{
  font-weight: normal;
  margin: 0;
}
p{
  margin: 0;
}

body{

  @include media(sp){
    width: 100%;
    height: 100%;
    min-width: $sp-min;
  }

  color: $brown;
  background: $white;
  line-height: $base-height;
}

a{
  display: block;
  text-decoration: none;
}

dd{
  margin: 0;
}

main{
  margin-bottom: 7em;
}

//sectionレイアウト
.ly_wrapper{
  width: 90%;
  margin: 0 auto 10em;

  @include media(pc){
    margin-bottom: 12em;
  }

  &:last-child{
    margin-bottom: 0;
  }

  &_ttl{
    width: 100%;
    color: $red;
    font-size: $ttl;
    text-align: center;
    margin: 0 auto 2em;
  }

  &_conts{
    width: 100%;
    font-size: $base-size;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin: 0 auto 3em;

    a{
      display: block;
      width: 100%;
    }
    &_ttl{
      order: 2;
      width: 100%;
      color: $red;
      font-size: $ttl;
      margin: 0 0 .8em;
    }
    &_ttl2{
      order: 3;
    }
    &_term{
      order: 1;
      font-size: $txt;
    }
    &_desc{
      order: 4;
    }

  }
}