@charset "UTF-8";
@import "assets/styles/mixin/_layout.scss";

// ******************************************************************************
// Reset
// ******************************************************************************
*, *:before, *:after{
  box-sizing: border-box;
}
html{
  width: 100%;
  height: 100%;
}
body{
  @include media(sp){
    width: 100%;
    height: 100%;
    min-width: $sp-min;
  }
  font-family: $base-font;
  color: $brown;
  background: $darkwhite;
  line-height: $line-height;
}
img{
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}
a{
  display: block;
  text-decoration: none;
}
h1, h2, h3, p, ul, dl, dd{
  font-weight: normal;
  padding: 0;
  margin: 0;
}
li{
  display: inherit;
}
button{
  background-color: transparent;
  border: none;
  line-height: 0;
  padding: 0;
  cursor: pointer;

  &:focus{
    outline: none;
  }
}

// ******************************************************************************
// 共通パーツ
// ******************************************************************************
main{
  margin: 0 auto 7em;
}
// ******************************************************************************
// section
// ******************************************************************************
.ly_wrapper{
  width: 91%;
  margin: 0 auto 3em;
  @include boxSet;

  @include media(tb){ width: 58%; }
  @include media(pc){ width: 58vw; max-width: 58vw; margin-bottom: 5em; }

  &:last-child{
    margin-bottom: 0;
  }
  &_ttl{ // About, Experiences, Works
    width: 100%;
    color: $red;
    font-family: $q-font;
    font-size: $ttl;
    text-align: center;
    margin: 0 auto 1em;

    @include media(pc){ font-size: 3rem; }
  }
  &_ttl2{
    font-size: 1rem;
    font-weight: bold;
    line-height: 1em;

    @include media(pc){ font-size: 1.3rem; }
  }
  &_conts{
    width: 100%;

    @include media(pcs){ width: 48%; }
  }
    &_ttl{
      width: 100%;
      color: $red;
      font-size: $ttl;
      margin: 0 0 .8em;
    }
  }

// ******************************************************************************
// works, exp共通
// ******************************************************************************
.bl_conts{
  padding: 2em .5em;
  margin: 0 auto 3em;

  @include media(tb){ padding: 2em; }

	&_ttl{
		color: $lightred;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1em;
	}
	&_ttl2{
    font-size: 1.3rem;
    font-weight: bold;
	}
	&_desc{
    color: $red;
	}
	&_note{
    color: $brown;
  }
}