@charset "UTF-8";
@import "_base.scss";

.ly_header{
  width: 90%;
  text-align: center;
  margin: 2.5em auto 5em;

  &_ttl{
    order: 2;
    width: 100%;
    color: $red;
    font-size: $ttl;
    letter-spacing: .03em;
    margin: 0 auto .5em;
  }
  &_ttl2{
    order: 3;
    color: $red;
    font-size: $ttl2;
    letter-spacing: .02em;
    margin: 0 auto 2.5em;
  }
  &_media{
    order: 1;
    width: 17%;
    background: $sunset;
    border-radius: 25%;
    margin: 0 auto 1em;
  }
  &_desc{
    order: 4;
    font-size: $txt;
    color: $brown;
    line-height: $base-height;
    letter-spacing: .05em;
    margin: 0 auto;

    @include media(pc){
      width: 100%;
    }
  }
}