@charset "UTF-8";
@import "../mixin/_layout.scss";
@import "../config/_size.scss";
@import "../config/_color.scss";

header{
  @include baseSet();
}

.ly_header_media{
  margin: 0 auto;
  img{
    width: 100%;
    vertical-align: bottom;
  }
}

.ly_header_inner{
  @include boxSet();
  margin-top: -2em;

  &_ttl{
    order: 2;
    font-size: $ttl;
    margin: 0;
    padding: 1.6em 0 0 .21em;
    letter-spacing: .03em;
  }
  &_ttl2{
    order: 3;
    width: 100%;
    text-align: right;
    font-size: $ttl2;
    margin: -2.3em 0 0 0;
    padding: 0 .4em 0 0;
    letter-spacing: .02em;
  }
  &_media{
    order: 1;
    margin: 0;
  }
  &_desc{
    order: 4;
    font-size: $txt;
    line-height: $base-height;
    letter-spacing: .05em;
  }
}