@charset "UTF-8";
@import "assets/styles/modules/_base.scss";

.bl_intro{
  width: 94%;
  display: flex;
  flex-flow: wrap;
  margin: 0 auto;

  @include media(tb){ width: 70%; max-width: 800px; }

  &_tab{
    display: flex;
    width: 100%;
    cursor: pointer;
  }
  &_item{
    width: 50%;
  }
  &_link{
    display: block;
    color: $brown;
    background: linear-gradient(135deg, $darkwhite, rgba(240, 238, 233, .3), $darkwhite);
    padding: 2em;
    -webkit-transition: .3s;
    transition: .3s;

    &:hover,
    &.is-active {
      color: $darkwhite;
      background: linear-gradient(135deg, $darkwhite, rgba(151, 53, 79, .4), $darkwhite);
    }
  }
  &_conts{
    width: 100%;
    margin-bottom: 2em;
  }
  &_desc{
    display: none;

    &.is-active{
      display: block;
      font-size: 1rem;
      line-height: $line-height;
      text-align: center;
      color: $darkwhite;
      background: radial-gradient(rgba(151, 53, 79, .8) 45%, $darkwhite);
      white-space: pre;
      padding: 2em 0;

      @include media(tb){ font-size: 1.5rem; }
      @include media(pc){ padding: 4em 0; }
    }
  }
}
/******************************************************************************
  文字がキラキラ表示される
*******************************************************************************/
@for $cnt from 1 through 637{
  .bl_intro_desc span:nth-child(#{$cnt}){
    span{
      -webkit-animation: letter-glow 3s ease;
      animation: letter-glow 3s ease;
    }
    @include animationValue(letter-glow, 0.7, ease, $cnt * 0.05 , 1, both);
  }
}
@include keyframes(letter-glow){
  0%{
    opacity: 0;
    text-shadow: 0px 0px 1px rgba(222, 192, 95, 0.1);
  }
  66%{
    opacity: 1;
    text-shadow: 0px 0px 20px rgba(222, 192, 95, 0.9);
  }
  77%{
    opacity: 1;
  }
  100%{
    opacity: 1;
    text-shadow: 0px 0px 20px rgba(222, 192, 95, 0);
  }
}