@charset "UTF-8";
@import "assets/styles/modules/_base.scss";

.ly_wrapper.bl_works_wrapper{
  width: 100%;

  @include media(pcs){ width: 40%; }
  @include media(pc){ width: 45%; align-items: flex-start;}

    &:last-child{
      margin-bottom: 0;
    }
  }

  .bl_works{
    &_link{
    display: block;
    text-align: center;
    color: $red;
    background: radial-gradient($darkwhite 54%, $antique);
    box-shadow: 0 2px 14px $brown;
  
    &:hover{
      filter: brightness(1.2);
      transform: scale(.95);
      transition: .8s;
    }
  }
  &_ttl.bl_conts_ttl{
    color: $darkblue;
    line-height: 1.5em;
  }
.bl_conts_desc{
  margin-bottom: 1em;
}
.bl_conts_desc2{
  color: $darkblue;
  font-weight: bold;
}
  }