@charset "UTF-8";
@import "../config/_color.scss";
@import "../config/_size.scss";

body{
  color: $main-color;
  background: $background-color;
}

@mixin baseSet {
  @include media(sp){
    width: 100%;
    min-width: $sp-min;
  }

  @include media(pc){
    min-width: $pc-min;
  }
}

@mixin boxSet{
  width: 90%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin: 0 auto 4em;
}